#archives-nav ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  list-style: none;
  color: black;
}

ul li a:hover {
  color: blue;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-info a {
  flex: 1;
  text-align: left;
}

.file-info p {
  flex: 1;
  text-align: center;
  margin: 0px;
}

.parentFolder {
  list-style: none;
}
